python-dotenv==1.0.0
langchain==0.0.265
openai==0.27.8
Flask==2.3.2
Flask-SocketIO==5.3.5
supabase==1.0.4
gevent==23.7.0
gevent-websocket==0.10.1
gunicorn==21.2.0
Flask-CORS==4.0.0
tiktoken==0.4.0
defichain==3.0.0b2